name: Test
on:
  pull_request:
  push: { branches: master }

jobs:
  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Add current directory to path
      run: echo "$PWD" >> $GITHUB_PATH
    - name: Run shellcheck tests
      run: shellcheck rush setup
    - name: Prepare testing environment
      run: ln -s $PWD /app
    - name: Run approval tests
      run: cd /app && test/approve
